table.logs {
  font-size: 3rem;
  table-layout: auto;
}

table.logs td {
  border: 0.25rem solid wheat;
  padding: 1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

div.filters {
  width: 100vmin;
  margin: auto;
  justify-content: space-evenly;
  display: flex;
  font-size: 3rem;
}

div.filters select,
div.filters option {
  background-color: black;
  color: var(--color1);
}
