div.trendDates {
  width: fit-content;
  margin: auto;
  text-align: center;
  font-size: 2rem;
}

div.players-filters {
  width: fit-content;
  margin: auto;
  font-size: 2.5rem;
  display: flex;
  text-align: center;
}

div.players-filters > div {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
  background-color: var(--color2);
  padding: 1rem;
  width: 15rem;
  box-shadow: 0 0 1rem white;
}

div.players-filters select {
  background-color: transparent;
  text-align: center;
  background-color: var(--color3);
  box-shadow: inset 0 0 2rem black;
}
